body {
    background-color: #87CEEB;
}

html {
    font-size: 62.5%;
}

main {
    grid-column: 1/13;
    grid-row: 2/9;

    .carrossel {
        margin-top: 8rem;

        .imagem-carrossel {
            width: 100vw;
            height: 75vh;
        }
    }
}

.solucao {
    grid-column: 1/13;
    grid-row: 10/15;
    .container-solucao {
        display: flex;

        .texto-solucao {
            font-size: 2rem;
            margin-top: 6rem;
        }
    }
}
