.solucao {
    grid-column: 1/13;
    grid-row: 11/17;
    background-image: url(../../assets/cool-background.svg);
    background-size: cover;
    background-position: 10rem center;
    background-repeat: no-repeat;
    height: 80rem;
    .container-solucao {
        display: flex;

        .texto-solucao {
            font-size: 2.4rem;
            margin: 18rem 0 0 2rem;
            width: 70rem;
            color: #fff;
            text-shadow: 2px 2px black;

            h1 {
                font-size: 7rem;
            }

            @media screen and (max-width: 1200px) {
                font-size: 1.8rem;
            }

            @media screen and (max-width: 800px) {
                font-size: 1.5rem;
            }
        }
    }
}