$txt-color_black: black;
$txt-color_white: white;
$txt-color_erro: red;
$bg-color_principal: #020d3f;
$bg-color_secundaria: white;
$bg-color_terciaria: #3a3a3a;
$bg-color_perfil: gray;
$border_white: 1px solid white;
$border_black: 1px solid black;
$border_erro: 3px solid red;
$border_certo: 3px solid green;
$border_texto: 2px 2px rgba(255, 255, 255, 0.308);
$border_box: 5px 5px rgba(0, 0, 0, 0.534);
$input-hover_login: #e4e4e4;