.cabecalho {
    background-color: #0C0C44;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    grid-column: 1/13;
    grid-row: 1/1;

    header{
        font-size: 20px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        nav{
            margin-top: auto;
            ul{
                li{
                    list-style: none;

                    a {
                        padding: 2rem;
                        color: white;
                        text-decoration: none;

                        &:hover {
                            background-color: #87CEEB;
                        }

                    }
                }
            }
        }

        .perfil {
            // display: flex;
            // gap: 10px;
            // align-items: center;
            margin-left: auto;
            // gap: 10px;
            margin-right: 10px;

            .info-usuario{
                display: flex;
                gap: 10px;
                align-items: center;
                margin-left: auto;
                margin-right: 10px; 
            }

            .logout {
                color: red;
                background-color: #3a3a3a;
                height: 30px;
                width: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                position: absolute;
                top: 90px;

                &:hover{
                    background-color: #9a9a9a;
                }
            } 

            .logout-fechado {
                display: none;
            }
             
        }
    }
}