.funcao{
    grid-column: 1/13;
    grid-row: 28/30;
    padding: 2rem;
    .container-funcao {
        font-size: 3rem;
        max-width: 120rem;
        text-align: justify;
        h1{
            font-size: 5rem;
        }

        p {
            margin-top: 1rem;
        }
    }


}