.funcao{
    grid-column: 1/13;
    grid-row: 28/30;
    padding: 2rem;

    @media screen and (max-width:906px) {
        grid-row: 32 / 34;
    }

    @media screen and (max-width:606px) {
        grid-row: 44/48;
    }
    .container-funcao {
        font-size: 3rem;
        max-width: 120rem;
        text-align: justify;
        h1{
            font-size: 5rem;

            @media screen and (max-width:460px) {
                font-size: 4rem;
              }
    
        }

        p {
            margin-top: 1rem;
        }

        @media screen and (max-width:906px) {
            font-size: 2.2rem;
        }

        @media screen and (max-width:460px) {
            font-size: 1.6rem;
          }


    }


}